*{
    font-family: 'Montserrat', sans-serif;
}
body{
    padding:0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.main{
    background-color: black;
    height: 100vh;
    background-image: url("./assets/cover.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.nav{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 10px;
}

.button{
    background-color: blue;
    padding: 10px;
    border-radius:5px;
}


.mainText{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingMain{
    font-weight: 900;
    font-size: 5em;
}

.subtitleMain{
    font-weight: lighter;
}

.buttonNeon{
    padding: 10px 5em;
    border-style: solid;
    border-color: #0ff;
    border-width: 3px;
    margin: 20px;
    transition: background-color 0.2s ease-in;
    font-weight: 900;
}

.buttonNeon:hover{
    background-color: #0ff;
    color: black;   
    box-shadow: 0 8px 8px 0 rgba(0, 255, 255, 0.2), 0 -8px 8px 0 rgba(0, 255, 255, 0.2),8px 0px 8px 0 rgba(0, 255, 255, 0.2), -8px 0px 8px 0 rgba(0, 255, 255, 0.2);
}



/* Pricing */

.containerHead{
    font-size: 2em;
    font-weight: 700;
}

.pricing{
    display: grid;
    gap: 1em;
}

.card{
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.features{
    list-style: none;
    padding: 0.2em;
    margin: 0;

}

.features > li{
    margin: 1em;
}

.beginer{
    /* background-image: url(./assets/beginer.jpeg); */
    background-color: #333;
    
}

.pricingDiv{
    justify-self: start;
}

.overlay{
    padding: 2em 1em;
    /* background-color: rgba(0,0,0,0.8); */
    flex-grow: 1;
    border-radius: 10px;
    border-color: chartreuse;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: start;
}

.gallery{
    display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}



.gallery div{
    background-color: red;
    background-image: url(./assets/gymMain.jpeg);
    background-size: cover;
    background-position: center;
}


@media(min-width:600px){
    .pricing{
        grid-template-columns: repeat(3, 1fr);
    }
    /* .gallery{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    } */
    .span-square{
        grid-row: span 2 / auto;
        grid-column: span 2;
    }
    
    .span-long{
        grid-row: span 2 / auto;
    }
    
    /* .span-wide{
        grid-column: span 2 / auto;
    } wide is fucking up the layout*/
}


/* General */

.container{
    padding: 10px 5%;
}

.heading-3{
    font-size: 2em;
    font-weight: 900;
}

.heading-2{
    font-size: 4em;
    font-weight: 900;
}

.heading-1{
    font-size: 6em;
    font-weight: 900;
}

.center{
    text-align: center;
}

.subtitle-3{
    font-size: 0.5em;
}

.subtitle-2{
    font-size: 1em;
}

.subtitle-1{
    font-size: 1.5em;
}

.red{
    background-color: red;
}

.spaced{
    padding: 20px;
}

.darken{
    background-color: rgba(0,0,0,0.5);
}



.btn{
    
    padding: 10px;
    border-radius:5px;

}

.yellow{
    background-color: yellow;
    color: black;
}

.green{
    background-color: rgb(106, 219, 0);
}

.desc{
    font-weight: lighter;
}

.offer{
    align-self: start;
    justify-self: start;
}