body{
    padding:0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.main{
    background-color: red;
    height: 100vh;
    background-image: url("./assets/cover.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nav{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 10px;
}

.button{
    background-color: blue;
    padding: 10px;
    border-radius:5px;
}


.mainText{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingMain{
    font-weight: 900;
    font-size: 5em;
}

.subtitleMain{
    font-weight: lighter;
}

.buttonNeon{
    padding: 10px 5em;
    border-style: solid;
    border-color: #0ff;
    border-width: 3px;
    margin: 20px;
    transition: background-color 0.2s ease-in;
    font-weight: 900;
}

.darkerbgclr{
    background-color: rgba(0,0,0,0.5);
}

.buttonNeon:hover{
    background-color: #0ff;
    color: black;   
    box-shadow: 0 8px 8px 0 rgba(0, 255, 255, 0.2), 0 -8px 8px 0 rgba(0, 255, 255, 0.2),8px 0px 8px 0 rgba(0, 255, 255, 0.2), -8px 0px 8px 0 rgba(0, 255, 255, 0.2);
}



/* Pricing */

.containerHead{
    font-size: 2em;
    font-weight: 700;
}

.pricing{
    display: grid;
    gap: 1em;
}

.card{
    padding: 20px;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    min-height: 200px;
}

.features{
    list-style: none;
    padding: 0.2em;
    margin: 0;

}

.features > li{
    margin: 1em;
}

@media(min-width:600px){
    .pricing{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* General */

.container{
    padding: 10px 5%;
}

.heading-3{
    font-size: 2em;
}

.center{
    text-align: center;
}

.subtitle-3{
    font-size: 0.5em;
}

.red{
    background-color: red;
}

.spaced{
    padding: 20px;
}