*{
    font-family: 'Montserrat', sans-serif;
}
body{
    padding:0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.main{
    background-color: black;
    height: 100vh;
    background-image: url("./assets/cover.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.nav{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 10px;
}

.button{
    background-color: blue;
    padding: 10px;
    border-radius:5px;
}


.mainText{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingMain{
    font-weight: 900;
    font-size: 5em;
}

.subtitleMain{
    font-weight: lighter;
}

.buttonNeon{
    padding: 10px 5em;
    border-style: solid;
    border-color: #0ff;
    border-width: 3px;
    margin: 20px;
    transition: background-color 0.2s ease-in;
    font-weight: 900;
}

.buttonNeon:hover{
    background-color: #0ff;
    color: black;   
    box-shadow: 0 8px 8px 0 rgba(0, 255, 255, 0.2), 0 -8px 8px 0 rgba(0, 255, 255, 0.2),8px 0px 8px 0 rgba(0, 255, 255, 0.2), -8px 0px 8px 0 rgba(0, 255, 255, 0.2);
}



/* Pricing */

.containerHead{
    font-size: 2em;
    font-weight: 700;
}

.pricing{
    display: grid;
    gap: 1em;
}

.card{
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.features{
    list-style: none;
    padding: 0.2em;
    margin: 0;

}

.features > li{
    margin: 1em;
}

.beginer{
    /* background-image: url(./assets/beginer.jpeg); */
    background-color: #333;
    
}

.pricingDiv{
    justify-self: start;
}

.overlay{
    padding: 2em 1em;
    /* background-color: rgba(0,0,0,0.8); */
    flex-grow: 1;
    border-radius: 10px;
    border-color: chartreuse;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: start;
}


/* _____ GALLERY ________ */

.gallery{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}



.gallery div{
    background-color: red;
    background-image: url(./assets/cover.jpg);
    background-size: cover;
    background-position: center;
}







/* _________ TESTIMONIALS ____________ */

.testimonialContainer{
  display: grid;
  gap: 1rem;
 }
 
 .testimonial{
     background-color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .textMain{
     padding: 1em;
     color: black;
     padding-bottom: 2em;
     
 }
 
 .profile{
     background-color: black;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 2em;
     border-top: 5px solid rgb(255, 187, 0);
 }
 
 .img{
     width: 5em;
     height: 5em;
     background-size: cover;
     border-radius: 5em;
     margin-bottom: 1em;
     margin-top: -4.5em;
 }



 /* _____________ FOOTER _________________ */

 .footer{
     min-height: 100vh;
     background-color: rgb(10, 0, 14);
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     padding: 2em;
 }

 .footer-head{
     align-self: baseline;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
}
 .footer-sections{
     display: grid;
     gap: 5em;
     align-self: stretch;
 }
 .footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    color: white;
 }

 .footer-card{
    align-self: stretch;
    /* background-color: rgb(255, 0, 221); */
    background-image:
    linear-gradient(
      to left, 
      rgb(131, 0, 102), rgb(163, 19, 144)
    );
    padding: 3em;
    border-radius: 1em;
 }

 .footer-footer{
     display: flex;
     justify-content: space-around;
     align-self: stretch;
 }

 .footer-logo{
     width: 2em;
     height: 2em;
    background-size: cover;
    }

@media(min-width:600px){
    .pricing{
        grid-template-columns: repeat(3, 1fr);
    }
    /* .gallery{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    } */
    .span-square{
        grid-row: span 2 / auto;
        grid-column: span 2;
    }
    
    .span-long{
        grid-row: span 2 / auto;
    }
    
    /* .span-wide{
        grid-column: span 2 / auto;
    } wide is fucking up the layout*/

    .testimonialContainer{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .footer-sections{
        grid-template-columns: repeat(3 ,1fr);
    }
}


/* General */


.container{
    padding: 10px 5%;
}

.heading-3{
    font-size: 2em;
    font-weight: 900;
}

.heading-2{
    font-size: 4em;
    font-weight: 900;
}

.heading-1{
    font-size: 6em;
    font-weight: 900;
}

.center{
    text-align: center;
}

.subtitle-3{
    font-size: 0.5em;
}

.subtitle-2{
    font-size: 1em;
}

.subtitle-1{
    font-size: 1.5em;
}

.red{
    background-color: red;
}

.spaced{
    padding: 3em 0;
}

.darken{
    background-color: rgba(0,0,0,0.5);
}



.btn{
    
    padding: 10px;
    border-radius:5px;

}

.yellow{
    background-color: yellow;
    color: black;
}

.green{
    background-color: rgb(106, 219, 0);
}

.desc{
    font-weight: lighter;
}

.offer{
    align-self: start;
    justify-self: start;
}

.light{
    font-weight: 100;
}